* {
    margin: 0;
}
body{
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    /* 이미지 끌어내리기 막기 - 이미지 롱프레스 시 OS 기본으로 뜨는 컨텍스트 메뉴 막기 래.*/
    /* pointer-events: none; */
    /* 물어봐야겠다ㅠㅠ */
}


:root {
    --background-color: #FFFFFF;
    --header-grid-color: #DBDBDB;
    --header-search-color: #EFEFEF;
    --item-hover: #F2F2F2;
    --text-color: #000000;
    --story-text: #737373;
    --story-border: #E5E5E5;
}