.header{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    z-index: 100;
    padding: 0 16px;
    border-bottom: 1px solid;
    border-bottom-color: var(--header-grid-color);

    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    /* 패딩으로 자꾸 하트가 잘리니까 추가해줌. 테두리를 기준으로 해서 안넘어감 ㅠㅠ */
}

.header-logo-button{
    border: none;
    margin-top: 5px;
    background-color: var(--background-color);
}
.header-logo-button:hover{
    background-color: var(--item-hover);
    cursor: pointer;
}

.header-logo {
    height: 29px;
}

.right-section{
    display: flex;
    align-items: center;
}
.search-box {
    margin-right: 20px;
    z-index: 2;
}
.search-bar {
    height: 36px;
    width: 234px;
    border-radius: 8px;
    border: none;
    background-color: var(--header-search-color);
    padding: 0 16px;
}
.search-bar:focus{
    outline: none;
    /* 검색 버튼을 클릭해도 테두리? 가 생기지 않는다. */
}
.header-heart {
    height: 23px;
}

/* width 767부터 헤더 생성 */
@media (min-width: 768px) {
    .header{
        display: none;
    }
}